
@model MVCDay5Validations.Models.Employee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <h1>Employee Details</h1>
            @Html.LabelFor(p => p.FirstName)
            @Html.TextBoxFor(p => p.FirstName)
            @Html.ValidationMessageFor(p => p.FirstName)
            <br />
            <br />
            @Html.LabelFor(p => p.LastName)
            @Html.TextBoxFor(p => p.LastName)
            @Html.ValidationMessageFor(p => p.LastName)
            <br/>
                <button type="button" class="btn btn-success" value="Go" onclick="location.href'@Url.Action("ThankYou","Home")'">Save</button>
        }
    </div>
</body>
</html>
